.popup-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    border: 2px solid rgba(45, 55, 72, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-container .popup-head {
    text-align: center;
    background-color: #EEEDEB;
    border-radius: 30px 30px  30px 30px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-container .popup-box {
    width: 700px;
    max-width: 90%;
    background: #EEEDEB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.popup-container .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #EEEDEB;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    color: #2d3748;
    border-radius: 10px;
}

.text-style {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
    width: 100%;
}

.popup-container .popup-box img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

/* Animasi fade-in saat popup muncul */
.popup-container {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-container.active {
    opacity: 1;
}
