.popup-container {
    display: flex;
    position: fixed;
    top: -2%;
    left: 36%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: auto;
    opacity: 0;
    border: 2px solid rgba(45, 55, 72, 0.1); /* Menambahkan border */
    border-radius: 30px;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    scale: 0.8;
}

.popup-container .popup-head {
    text-align: center;
    background-color: #EEEDEB;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: #2d3748;
}

.popup-container .popup-box {
    width: 700px;
    background: #EEEDEB;
    padding: 20px;
    padding-left: 50px;
    border-radius: 8px;
    text-align: left;
}

.popup-container .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #EEEDEB;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    color : #2d3748;
    border-radius: 10px;
}

.text-style {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
    width: 100%;
}

.popup-container .popup-box img {
        width: 400px; 
        margin-bottom: 10px;
    }
